__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
database.db
*.sqlite3
.DS_Store
tempCodeRunnerFile.py
static/qrcodes/*.png
static/payment_screenshots/*
!static/payment_screenshots/.gitkeep
